## Samp – import and merge   

#### Purpose: import list of contacts provided by GIZ and merge them; import gendered names lists and merge them
Outline:   
Part 1: Set up paths, import necessary packages  
Part 2: Load datasets (mailing lists provided by GIZ) and merge  
Part 3: Load datasets (gendered names lists) and merge  
Part 4: Export results

## Part 1  
#### Download any necessary packages, import and set up paths

In [ ]:
## Install these packages if you don't have them already (remove the #)

#!pip install earthpy

In [1]:
import csv
import pandas as pd
import re
import os
import earthpy as et

In [2]:
github_path = os.path.join(et.io.HOME, "Documents","GitHub","giz-pema-ecommerce","sampling-email-experiment")

try:
    gdrive_path = os.path.join(et.io.HOME, "Google Drive", "Research_GIZ_Tunisia_exportpromotion","1. Intervention I – E-commerce","data","0-sampling-email-experiment")
    os.chdir(gdrive_path)
except:
    gdrive_path = os.path.join(et.io.HOME, "Google Drive","My Drive", "Research_GIZ_Tunisia_exportpromotion","1. Intervention I – E-commerce","data","0-sampling-email-experiment")

## Part 2  
#### Load GIZ datasets and merge  
(Prior to this, all datasets were saved in .csv format)

In [4]:
## First PEMA dataset

pema = pd.read_csv(os.path.join(gdrive_path,'raw','BD Pema II.csv'), dtype='string' )
pema.rename(columns={'Entreprises': 'firmname', 'Prénom et nom': 'name', 'Email': 'email'}, inplace=True)
pema.head()

          firmname             name                     email
0           3Dwave      Ferid kamel      feridkamel@gmail.com
1         ABAPLAST   Akram Ben amor        abaplast@topnet.tn
2  ABIN CONSULTING       Elyes Grar       elyesgrar@gmail.com
3              ABP  Ayda Bouassida   aydabouassidaa@gmail.com
4          ABSHORE      Asma Mechri   asma.mechri@abshore.com

##### This one needs a bit of cleaning before it can be merged

In [5]:
pema['name'] = pema['name'].str.strip()
pema[['firstname','lastname']] = pema["name"].str.split(" ", 1, expand=True)
pema['origin'] = 'pema'
pema.head()

,firmname,name,email,firstname,lastname,origin
0,3Dwave,Ferid kamel,feridkamel@gmail.com,Ferid,kamel,pema
1,ABAPLAST,Akram Ben amor,abaplast@topnet.tn,Akram,Ben amor,pema
2,ABIN CONSULTING,Elyes Grar,elyesgrar@gmail.com,Elyes,Grar,pema
3,ABP,Ayda Bouassida,aydabouassidaa@gmail.com,Ayda,Bouassida,pema
4,ABSHORE,Asma Mechri,asma.mechri@abshore.com,Asma,Mechri,pema

In [7]:
# Second PEMA dataset

pema2 = pd.read_csv(os.path.join(gdrive_path,'raw','BD Event lancement PEMA II.csv'), skiprows=3, dtype='string' )
pema2.rename(columns={'Nom d’utilisateur (nom original)': 'name', 'Prénom': 'firstname', 'Nom de famille': 'lastname', 'Adresse électronique': 'email'}, inplace=True)
pema2 = pema2[['name','firstname', 'lastname', 'email']]
pema2['origin'] = 'pema2'
pema2.head()

,name,firstname,lastname,email,origin
0,Mohamed Anis,Mohamed Anis,BEN ROMDHANE,anis.benromdhane@geomatics-engineering.com,pema2
1,nabil zarai,nabil,zarai,nabil@naza.dev,pema2
2,Fatma,Fatma,Gattoufi,fattoumagatt@gmail.com,pema2
3,Noura Aloui,Noura,Aloui,nawaranour67@yahoo.fr,pema2
4,Emna,Emna,JEMMALI,emnajemmali1@gmail.com,pema2

In [9]:
# API dataset

api = pd.read_csv(os.path.join(gdrive_path,'raw','APII-BD ApiiGizAfrica.csv'), dtype='string' )
api.rename(columns={'raison_sociale': 'firmname', 'gouvernorat' : 'governorate', 'delegation':'town', 'secteur_nat':'sector', 'responsable': 'name', 'effectif_total':'fte'}, inplace=True)
api = api[['firmname','name', 'email', 'governorate', 'tw', 'sector','fte', 'export']]
api['origin'] = 'api'
api.head()

KeyError: "['delegation'] not in index"

In [7]:
# Split name into first and last

api['name'] = api['name'].str.strip()
api[['firstname','lastname']] = api["name"].str.split(" ", 1, expand=True)
api.head()

,firmname,name,email,origin,firstname,lastname
0,STE METLINE RAS JEBEL TEXTILE,FATHI MOUSSA,meratex.fm@gmail.com,api,FATHI,MOUSSA
1,STE MODERNE D'ELEVAGE,HATEM BACCAR,sme@planet.tn,api,HATEM,BACCAR
2,AKWEL MATEUR TUNISIA,YASSINE TAGHOUTI,yassinetaghouti@akwel-automotive.com,api,YASSINE,TAGHOUTI
3,STE BEN AISSA FRERES,ALI BEN AISSA,benaissa_freres@yahoo.fr,api,ALI,BEN AISSA
4,ALMES II,MOHAMED BECHIR EL KHIARI,almes.mateur@poulina.com.tn,api,MOHAMED,BECHIR EL KHIARI

In [8]:
# Plenty of missing emails, drop

api = api[api['email'].notna()]
api.shape

(4016, 6)

In [9]:
# Merge

frames = [pema, pema2, api]

df = pd.concat(frames)
df.head()

,firmname,name,email,firstname,lastname,origin
0,3Dwave,Ferid kamel,feridkamel@gmail.com,Ferid,kamel,pema
1,ABAPLAST,Akram Ben amor,abaplast@topnet.tn,Akram,Ben amor,pema
2,ABIN CONSULTING,Elyes Grar,elyesgrar@gmail.com,Elyes,Grar,pema
3,ABP,Ayda Bouassida,aydabouassidaa@gmail.com,Ayda,Bouassida,pema
4,ABSHORE,Asma Mechri,asma.mechri@abshore.com,Asma,Mechri,pema

## Part 3  
#### Load gendered names lists and merge

In [10]:
# Load list of names from French gov't  (from https://www.data.gouv.fr/fr/datasets/liste-de-prenoms/)

fra_names = pd.read_csv(os.path.join(gdrive_path,'raw','names_france.csv'), encoding= "utf-8")
fra_names = fra_names[['01_prenom', '02_genre']]
fra_names.rename(columns={'01_prenom': 'firstname', '02_genre': 'gender', '03_langage': 'language', '04_fréquence': 'freq'}, inplace=True)
fra_names.head()

  firstname gender
0   aaliyah      f
1    aapeli      m
2      aapo      m
3     aaren    m,f
4     aarne      m

In [11]:
fra_names['gender'] = fra_names['gender'].str.replace('m','male')
fra_names['gender'] = fra_names['gender'].str.replace('f','female')
fra_names['gender'] = fra_names['gender'].str.replace('m,f','mostly male')
fra_names['gender'] = fra_names['gender'].str.replace('f,m','mostly female')

In [15]:
fra_names['gender'].value_counts()

male           5878
female         5313
male,female     289
female,male     147
Name: gender, dtype: int64

In [16]:
# Load list of names from Kalmasoft

names = pd.read_csv(os.path.join(gdrive_path,'raw','KDBGIVE.txt'), engine='python', skiprows=81, sep='\t+')
names = names[['Roman', 'Gender']]
names.rename(columns={'Roman': 'firstname', 'Gender': 'gender'}, inplace=True)
names.head()

    firstname gender
0   Abosaymah      M
1  Aboussaima      M
2    Albastji      M
3   Elbestdji      M
4   Albastaji      M

In [18]:
names['gender'] = names['gender'].str.replace('M','male')
names['gender'] = names['gender'].str.replace('F','female')
names['gender'].value_counts()

male      502
female    152
Name: gender, dtype: int64

In [19]:
# Load list of names from Florian (1)

missing_names = pd.read_csv(os.path.join(gdrive_path,'raw','noms_manquants.csv'), encoding= "utf-8")
missing_names.head()

    firstname  _freq gender
0       Abbes      1      M
1  Abdderazek      1      M
2   Abdeladel      1      M
3  Abdelamjid      1      M
4   Abdelatif      1      M

In [21]:
missing_names['gender'] = missing_names['gender'].str.replace('M','male')
missing_names['gender'] = missing_names['gender'].str.replace('F','female')
missing_names['gender'] = missing_names['gender'].str.replace('?','unknown')
missing_names['gender'].value_counts()

male       276
unknown     63
female      49
Name: gender, dtype: int64

In [22]:
# Load list of names from Florian (2)

male_names = pd.read_csv(os.path.join(gdrive_path,'raw','males.csv'), encoding= "utf-8")
male_names.rename(columns={'Name': 'firstname', 'Gender': 'gender'}, inplace=True)
male_names.head()

  firstname gender
0     aaban      M
1     aabid      M
2     aadil      M
3     aahil      M
4     aalam      M

In [24]:
male_names['gender'] = male_names['gender'].str.replace('M','male')
male_names['gender'].value_counts()

male    2066
Name: gender, dtype: int64

In [25]:
# Load list of names from Florian (2)

female_names = pd.read_csv(os.path.join(gdrive_path,'raw','females.csv'), encoding= "utf-8")
female_names.rename(columns={'Name': 'firstname', 'Gender': 'gender'}, inplace=True)
female_names.head()

  firstname gender
0   aabidah      F
1   aabirah      F
2    aabish      F
3     aadab      F
4    aadila      F

In [27]:
female_names['gender'] = female_names['gender'].str.replace('F','female')
female_names['gender'].value_counts()

female    2445
Name: gender, dtype: int64

#### Merge all datasets

In [28]:
frames = [female_names, male_names, missing_names, names, fra_names]

df_names = pd.concat(frames)
df_names = df_names[['firstname', 'gender']]
df_names.head()

  firstname  gender
0   aabidah  female
1   aabirah  female
2    aabish  female
3     aadab  female
4    aadila  female

#### Some cleaning and dropping duplicates

In [29]:
# Trim names

df_names['firstname'] = df_names['firstname'].str.strip()

# Normalize key accents

repl = str.maketrans(
    "áéúíóçèîêàöëù",
    "aeuioceieaoeu"
)

df_names['firstname'] = df_names['firstname'].str.translate(repl)

df_names.shape

(17180, 2)

In [30]:
# Lower case first names and gender: 

df_names = df_names.applymap(lambda x: x.lower() if type(x) == str else x)

# Recapitalize first names: 

df_names['firstname'] = df_names['firstname'].apply(lambda x: x.capitalize() if type(x) == str else x)

In [31]:
# Drop NAs

df_names = df_names[df_names['firstname'].notna()]

df_names = df_names.drop_duplicates(subset='firstname', keep="first")

df_names.shape

(16421, 2)

## Part 5:
#### Export files  
Using Excel to avoid spacing issues

In [32]:
# Export to csv

df.to_csv(os.path.join(gdrive_path,'intermediate','giz_contact_list_ungendered.csv'))
df_names.to_csv(os.path.join(gdrive_path,'intermediate','gendered_names.csv'))