## Gender guesser do file  

#### Purpose: take list of contacts provided by GIZ and guess their gender based on first names
Outline:   
Part 1: Set up paths, import necessary packages  
Part 2: Load datasets (mailing lists provided by GIZ and gendered name lists)  
Part 3: Run gender-guesser package  
Part 4: Fuzzy matching with existing gendered names lists to guess gender of remaining names  
Part 5: Export results

## Part 1
#### Download any necessary packages, import and set up paths

In [47]:
## Install these packages if you don't have them already (remove the #)

#!pip install gender_guesser
#!pip install earthpy
#!pip install fuzzywuzzy
#!pip install python-Levenshtein

In [48]:
import csv
import pandas as pd
import re
import gender_guesser.detector as gender
import os
import earthpy as et
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [6]:
github_path = os.path.join(et.io.HOME, "Documents","GitHub","giz-pema-ecommerce","sampling-email-experiment")

try:
    gdrive_path = os.path.join(et.io.HOME, "Google Drive", "Research_GIZ_Tunisia_exportpromotion","1. Intervention I – E-commerce","data","0-sampling-email-experiment")
    os.chdir(gdrive_path)
except:
    gdrive_path = os.path.join(et.io.HOME, "Google Drive","My Drive", "Research_GIZ_Tunisia_exportpromotion","1. Intervention I – E-commerce","data","0-sampling-email-experiment")

## Part 2

#### Load datasets and merge

In [10]:
## GIZ contact list (ungendered)

contacts = pd.read_csv(os.path.join(gdrive_path,'intermediate','giz_contact_list_ungendered.csv'), dtype='string' )
contacts = contacts[['firmname', 'name', 'email', 'firstname', 'lastname', 'origin']]
contacts.head()

,firmname,name,email,firstname,lastname,origin
0,3Dwave,Ferid kamel,feridkamel@gmail.com,Ferid,kamel,pema
1,ABAPLAST,Akram Ben amor,abaplast@topnet.tn,Akram,Ben amor,pema
2,ABIN CONSULTING,Elyes Grar,elyesgrar@gmail.com,Elyes,Grar,pema
3,ABP,Ayda Bouassida,aydabouassidaa@gmail.com,Ayda,Bouassida,pema
4,ABSHORE,Asma Mechri,asma.mechri@abshore.com,Asma,Mechri,pema

In [61]:
## Gendered names list

names = pd.read_csv(os.path.join(gdrive_path,'intermediate','gendered_names.csv'), dtype='string' )
names = names[['firstname','gender']]
names.head()

  firstname gender
0   Aabidah      f
1   Aabirah      f
2    Aabish      f
3     Aadab      f
4    Aadila      f

## Part 3
#### Clean data and run gender-guesser package

In [16]:
# Remove duplicates

contacts = contacts.drop_duplicates(subset='email', keep="first")

# Drop NAs

contacts = contacts[contacts['firstname'].notna()]
contacts.shape

(5001, 6)

In [19]:
# Lower case first names: 

contacts['firstname'] = contacts['firstname'].apply(lambda x: x.lower() if type(x) == str else x)

# Recapitalize: 

contacts['firstname'] = contacts['firstname'].apply(lambda x: x.capitalize() if type(x) == str else x)

# Lower case firm names: 

contacts['firmname'] = contacts['firmname'].apply(lambda x: x.lower() if type(x) == str else x)

# Trim first name

contacts['firstname'] = contacts['firstname'].apply(lambda x: x.strip() if type(x) == str else x)

# Normalize key accents

repl = str.maketrans(
    "áéúíóçèîêàöëù",
    "aeuioceieaoeu"
)

contacts['firstname'] = contacts['firstname'].apply(lambda x: x.translate(repl) if type(x) == str else x)

contacts.head()

,firmname,name,email,firstname,lastname,origin
0,3dwave,Ferid kamel,feridkamel@gmail.com,Ferid,kamel,pema
1,abaplast,Akram Ben amor,abaplast@topnet.tn,Akram,Ben amor,pema
2,abin consulting,Elyes Grar,elyesgrar@gmail.com,Elyes,Grar,pema
3,abp,Ayda Bouassida,aydabouassidaa@gmail.com,Ayda,Bouassida,pema
4,abshore,Asma Mechri,asma.mechri@abshore.com,Asma,Mechri,pema

##### Run the gender guesser

In [20]:
d = gender.Detector()

contacts['gender'] = contacts['firstname'].apply(lambda x: d.get_gender(x))
contacts['gender'].value_counts()

male             2847
unknown          1625
female            489
mostly_female      18
mostly_male        14
andy                8
Name: gender, dtype: int64

##### Now the same but on the surnames

In [21]:
# Lower case last names: 

contacts['lastname'] = contacts['lastname'].apply(lambda x: x.lower() if type(x) == str else x)

# Recapitalize: 

contacts['lastname'] = contacts['lastname'].apply(lambda x: x.capitalize() if type(x) == str else x)

# Trim last name

contacts['lastname'] = contacts['lastname'].apply(lambda x: x.strip() if type(x) == str else x)

# Normalize key accents

repl = str.maketrans(
    "áéúíóçèîêàöëù",
    "aeuioceieaoeu"
)

contacts['lastname'] = contacts['lastname'].apply(lambda x: x.translate(repl) if type(x) == str else x)

contacts.head()

,firmname,name,email,firstname,lastname,origin,gender
0,3dwave,Ferid kamel,feridkamel@gmail.com,Ferid,Kamel,pema,male
1,abaplast,Akram Ben amor,abaplast@topnet.tn,Akram,Ben amor,pema,male
2,abin consulting,Elyes Grar,elyesgrar@gmail.com,Elyes,Grar,pema,male
3,abp,Ayda Bouassida,aydabouassidaa@gmail.com,Ayda,Bouassida,pema,female
4,abshore,Asma Mechri,asma.mechri@abshore.com,Asma,Mechri,pema,female

In [22]:
contacts['gender1'] = contacts['lastname'].apply(lambda x: d.get_gender(x))
contacts['gender1'].value_counts()

unknown          4576
male              355
female             60
mostly_female       5
andy                4
mostly_male         1
Name: gender1, dtype: int64

## Part 4
#### Fuzzy matching with existing gendered names lists to guess gender of remaining names

This still leaves about a third of names as 'Unknown'. Let's use fuzzy matching with lists of gendered names to address this.

In [28]:
# Pick only the ones unknown

grouped = contacts.groupby(['gender','gender1'])
df_unknown = grouped.get_group(("unknown", "unknown"))
df_unknown = df_unknown[['firmname', 'name', 'email', 'firstname', 'lastname', 'origin']]
df_unknown.shape

(1432, 6)

In [31]:
# One quick fix, many names start with 'Mr' and are male: 

fnames = {'Mr' : "male"}

df_unknown['gender2'] = df_unknown['firstname'].map(fnames)
df_unknown['gender2'].value_counts()

male    9
Name: gender2, dtype: int64

In [38]:
# Casting the first name columns into lists

df1_names = list(df_unknown['firstname'].unique())
df2_names = list(names['firstname'].unique())

In [49]:
#Defining a function to return the match and similarity score of the fuzz.ratio() scorer. The function will take in a term(name), list of terms(list_names), and a minimum similarity score(min_score) to return the match. 
def match_names(name, list_names, min_score=0):
    max_score = -1
    max_name = ''
    for x in list_names:
        score = fuzz.ratio(name, x)
        if (score > min_score) & (score > max_score):
            max_name = x
            max_score = score
    return (max_name, max_score)

In [63]:
#For loop to create a list of tuples with the first value being the name from the second dataframe (name to replace) and the second value from the first dataframe (string replacing the name value). Then, casting the list of tuples as a dictionary. 
firstnames = []
for x in df1_names:
    match = match_names(x, df2_names, 75)
    if match[1] >= 75:
        name = ('(' + str(x), str(match[0]) + ')')
        firstnames.append(name)
name_dict = dict(firstnames)
name_dict

{'(Hidri': 'Heidi)',
 '(Abderrazk': 'Abderrazak)',
 '(Foued': 'Foued)',
 '(Zoubeir': 'Zubair)',
 '(Montasser': 'Montasser)',
 '(Nidhal': 'Nihal)',
 '(Rabah': 'Rabah)',
 '(Mouley': 'Morley)',
 '(Med': 'Medb)',
 '(Nejah': 'Najah)',
 '(Sofiene': 'Sofie)',
 '(Saloua': 'Saoa)',
 '(Abdelaziz': 'Abdellaziz)',
 '(Dorra': 'Dora)',
 '(Mr': 'Mor)',
 '(Ghassen': 'Ghassen)',
 '(Beligh': 'Beligh)',
 '(Sabeur': 'Sabur)',
 '(Mariem': 'Marie)',
 '(Adnen': 'Adnen)',
 '(Hassene': 'Hassine)',
 '(Aymen': 'Aymen)',
 '(Bochra': 'Bora)',
 '(Hmida': 'Hmida)',
 '(Skander': 'Sikandar)',
 '(Chahir': 'Chahir)',
 '(Chema': 'Chema)',
 '(Islem': 'Islem)',
 '(Moez': 'Moeez)',
 '(Takwa': 'Taqwa)',
 '(Meher': 'Meher)',
 '(Souheib': 'Suheb)',
 '(Najeh': 'Najah)',
 '(Henda': 'Henda)',
 '(Abdessalem': 'Abdessalem)',
 '(Feriel': 'Feivel)',
 '(Chafik': 'Chafik)',
 '(Rhouma': 'Roma)',
 '(Boubaker': 'Boubaker)',
 '(Wiem': 'Wim)',
 '(Meria': 'Mercia)',
 '(Sofienne': 'Sofie)',
 '(Aissa': 'Arissa)',
 '(Hajer': 'Hajar)',
 '(Naoufel': 'Naoufel)',
 '(Eya': 'Enya)',
 '(Sawssen': 'Sawsan)',
 '(Cheker': 'Cher)',
 '(Assil': 'Asil)',
 '(Lassaad': 'Lassaad)',
 '(Narjess': 'Narjis)',
 '(Jihene': 'Jihene)',
 '(Sahbi': 'Sahabi)',
 '(Yousser': 'Youssef)',
 '(Meriem': 'Meriel)',
 '(Chedia': 'Chedlia)',
 '(Zaïda': 'Zaida)',
 '(Abdelmonem': 'Abdelmonem)',
 '(Hafedh': 'Hafedh)',
 '(Kacem': 'Kacem)',
 '(Souhir': 'Souhair)',
 '(Imen': 'Imen)',
 '(Tijani': 'Tiffani)',
 '(Khemais': 'Khemais)',
 '(Rafiaa': 'Rafia)',
 '(Dhaou': 'Dhaou)',
 '(Chekib': 'Chekib)',
 '(Mohieddine': 'Moheddine)',
 '(Hassouna': 'Hassouna)',
 '(Ichraf': 'Ichrak)',
 '(Isslem': 'Islem)',
 '(Nebil': 'Neil)',
 '(Hamadi': 'Hammadi)',
 '(Makrem': 'Makrem)',
 '(Mohamedali': 'Mohamed)',
 '(Mehrez': 'Mehrez)',
 '(Hanen': 'Hanene)',
 '(Rafika': 'Rafia)',
 '(Najd': 'Najid)',
 '(Belgacem': 'Belgacem)',
 '(Lillia': 'Lillian)',
 '(Taieb': 'Talib)',
 '(Ameni': 'Ameni)',
 '(Ameur': 'Amer)',
 '(Mekki': 'Mekki)',
 '(Chiraz': 'Chiraz)',
 '(Abdelmajid': 'Abdulmajid)',
 '(Seifallah': 'Saifullah)',
 '(Safwen': 'Safwan)',
 '(Hassen': 'Haseen)',
 '(Nizard': 'Nizar)',
 '(Abdelhalim': 'Abdelhalim)',
 '(Soufiene': 'Sofie)',
 '(Haibel': 'Maribel)',
 '(Idriss': 'Idris)',
 '(Saifallah': 'Saifullah)',
 '(Radhwane': 'Radhwaa)',
 '(Mongi': 'Mongi)',
 '(Emna': 'Ena)',
 '(Abderraouf': 'Abderraouf)',
 '(Najet': 'Najet)',
 '(Najmeddine': 'Najmeddine)',
 '(Mejdi': 'Majdi)',
 '(Haithem': 'Haitham)',
 '(Chaima': 'Chaim)',
 '(Abdelkader': 'Abdeladel)',
 '(Abderrahmen': 'Abderrahmen)',
 '(Amelle': 'Armelle)',
 '(Heni': 'Heni)',
 '(Morsi': 'Morsi)',
 '(Iram': 'Iram)',
 '(Hanene': 'Hanene)',
 '(Soumaya': 'Somaya)',
 '(Najoua': 'Najoua)',
 '(Olfa': 'Ola)',
 '(Ymene': 'Yente)',
 '(Moura': 'Mourad)',
 '(Ulfet': 'Ulfat)',
 '(Bayrem': 'Bayrem)',
 '(Belaid': 'Blanid)',
 '(Adnene': 'Adnene)',
 '(Fakher': 'Fakher)',
 '(Nourchene': 'Norene)',
 '(Mohamed ali': 'Mohamed)',
 '(Chka': 'Chika)',
 '(Saidi': 'Said)',
 '(Ouertani': 'Ourania)',
 '(Rached': 'Rachel)',
 '(Nosra': 'Nora)',
 '(Hassine': 'Hassine)',
 '(Dalel': 'Dalel)',
 '(Sihem': 'Shem)',
 '(Fedi': 'Fedi)',
 '(Aroua': 'Aroha)',
 '(Abdelhamid': 'Abdelhmid)',
 '(Akrem': 'Akeem)',
 '(Abidi': 'Abidin)',
 '(Oussema': 'Ouissa)',
 '(Fedia': 'Fedi)',
 '(Boutheina': 'Bouthaina)',
 '(Besma': 'Basma)',
 '(Maiz': 'Mai)',
 '(Neder': 'Nader)',
 '(Noureddine': 'Noureddine)',
 '(Mhamed': "M'hamed)",
 '(Fl': 'Flo)',
 '(Houaida': 'Houda)',
 '(Mondher': 'Mondher)',
 '(Ahlem': 'Ahlam)',
 '(Abderrazek': 'Abderrazek)',
 '(Arij': 'Arij)',
 '(Nehla': 'Neha)',
 '(Thameur': 'Thamer)',
 '(Nassima': 'Nasimah)',
 '(Sofien': 'Sofie)',
 '(Chebilia': 'Chbilia)',
 '(Kadija': 'Khadija)',
 '(Noussaiba': 'Nusaibah)',
 '(Arafat': 'Arafet)',
 '(Awatef': 'Awatif)',
 '(Khaoula': 'Khalaf)',
 '(Nourhen': 'Noureen)',
 '(Siwar': 'Siwar)',
 '(Leila هو': 'Leila)',
 '(Naouel': 'Naoufel)',
 '(Makni': 'Mani)',
 '(Chayma': 'Chaya)',
 '(Abdelkebir': 'Abdelkefi)',
 '(Mbarka': "M'barka)",
 '(Arbia': 'Abia)',
 '(Touhami': 'Thamir)',
 '(Jilani': 'Jilani)',
 '(Med akrem': 'Makrem)',
 '(Bougatef': 'Aouatef)',
 '(Haikal': 'Haikal)',
 '(Ferdaws': 'Firdaws)',
 '(Jomaa': 'Jemaa)',
 '(Cherifa': 'Cheri)',
 '(Sarra': 'Sarra)',
 '(Zouhaier': 'Zohair)',
 '(Rahma': 'Rahma)',
 '(Balmane': 'Salman)',
 '(Badra': 'Badra)',
 '(Elamri': 'Elamin)',
 '(Lamjed': 'Lamjed)',
 '(Abdelhakim': 'Abdulhakim)',
 '(Neila': 'Neil)',
 '(Najmedine': 'Najmeddine)',
 '(Trayna': 'Thoraya)',
 '(Afef': 'Afef)',
 '(Fredj': 'Fredj)',
 '(Syrine': 'Sine)',
 '(Mkacher': 'Maher)',
 '(Hamdouni': 'Hamdi)',
 '(Cyrine': 'Carine)',
 '(Khabbab': 'Habbab)',
 '(Namia': 'Nashmia)',
 '(Ayet': 'Ayelet)',
 '(Settela': 'Stela)',
 '(Houssem': 'Houssem)',
 '(Raoua': 'Raoul)',
 '(Zaineb': 'Zainab)',
 '(Montassar': 'Montassar)',
 '(Sahla': 'Sahla)',
 '(Zayneb': 'Zaynab)',
 '(Khemaies': 'Khemaies)',
 '(Galaxy': 'Gala)',
 '(Ziar': 'Zia)',
 '(Senda': 'Senada)',
 '(Sadok': 'Sadik)',
 '(Ghaith': 'Ghaith)',
 '(Nebili': 'Neil)',
 '(Iadh': 'Iadh)',
 '(Holmi': 'Hilmi)',
 '(Ala eddine': 'Aladdin)',
 '(Chedli': 'Chedli)',
 '(Labid': 'Labid)',
 '(Imededdine': 'Imededdine)',
 '(Jaleleddine': 'Jaleleddine)',
 '(Jalila': 'Jalila)',
 '(Yahia': 'Yamha)',
 '(Kaouthar': 'Kaouthar)',
 '(Abdellatif': 'Abdellatif)',
 '(Nejib': 'Nejiba)',
 '(Chedly': 'Chedly)',
 '(Jalloul': 'Jalloul)',
 '(Abdelwahab': 'Abdelwahab)',
 '(Lasaad': 'Lasaad)',
 '(Hsouna': 'Hsouna)',
 '(Fathia': 'Fathima)',
 "(M'hamed": "M'hamed)",
 '(Radhia': 'Radhia)',
 '(Rachoine': 'Raine)',
 '(Morched': 'Morched)',
 '(Kaouther': 'Kaouther)',
 '(Hsen': 'Hsen)',
 '(Jeans': 'Jeans)',
 '(Abdellaziz': 'Abdellaziz)',
 '(Romdhane': 'Romane)',
 '(Chebil': 'Chebil)',
 '(Mahfoudh': 'Mahfoudh)',
 '(Abderrazak': 'Abderrazak)',
 '(Chbilia': 'Chbilia)',
 '(Ilyes': 'Ilyas)',
 '(Nabhan': 'Nabhan)',
 "(M'barek": "M'barek)",
 '(Kaies': 'Kaies)',
 '(Mzabi': 'Mzabi)',
 '(Lazhar': 'Lazhar)',
 '(Slaheddine': 'Fatheddine)',
 '(Jiuliano': 'Jiuliano)',
 '(Manoubia': 'Manoubia)',
 '(Mouheddine': 'Mouheddine)',
 '(Mechaal': 'Mechaal)',
 '(Hamouda': 'Hammouda)',
 '(Azaiez': 'Azaiez)',
 '(Kaifar': 'Kaifar)',
 '(Nadhir': 'Nadhir)',
 '(Stephane': 'Stephane)',
 '(Lehmann': 'Lehmann)',
 '(Ezzeddine': 'Ezzeddine)',
 '(Jameleddine': 'Jameleddine)',
 '(Hbib': 'Habib)',
 '(Naceur': 'Naceur)',
 '(Abdelwaheb': 'Abdelwaheb)',
 '(Chihebeddine': 'Chihebeddine)',
 '(Abderahman': 'Abderahmen)',
 '(Abdelkerim': 'Abdelkerim)',
 '(Jaafar': 'Jafar)',
 '(Abdelfatteh': 'Abdelfatteh)',
 '(Jalel': 'Jaleel)',
 '(Abdelfattah': 'Abdelfattah)',
 '(Hamda': 'Hamdan)',
 '(Hosn': 'Hosni)',
 '(Laroussi': 'Laroussi)',
 '(Chehab': 'Chehab)',
 '(Marouen': 'Marouen)',
 '(Hechmi': 'Hechmi)',
 '(Jabeur': 'Jabeur)',
 '(Abdelmohsen': 'Abdelmohsen)',
 '(Noomene': 'Noomene)',
 '(Zouhir': 'Zohair)',
 '(Fehri': 'Fehri)',
 '(Moufida': 'Moufida)',
 '(Fairouz': 'Fairuza)',
 '(Azza': 'Azza)',
 '(Ezzattallah': 'Ezzattallah)',
 '(Hammouda': 'Hammouda)',
 '(Borhen': 'Borhen)',
 '(Nabhen': 'Nabhen)',
 '(Arafet': 'Arafet)',
 '(Fraj': 'Fraj)',
 '(Philippr': 'Philipp)',
 '(Yousri': 'Yusri)',
 '(Yosri': 'Yori)',
 '(Abdeljaoued': 'Abdeljaoued)',
 '(Abdderazek': 'Abdderazek)',
 '(Bouraoui': 'Bouraoui)',
 '(Aouatef': 'Aouatef)',
 '(Maherzia': 'Maherzia)',
 '(Ibrahima': 'Ibrahim)',
 '(Rodl': 'Rod)',
 '(Borries': 'Boris)',
 '(Abdennaceur': 'Abdennaceur)',
 '(Belhassen': 'Belhassen)',
 '(Radhi': 'Radhia)',
 '(Jihed': 'Jihed)',
 '(Ishak': 'Isha)',
 '(Khiareddine': 'Khiareddine)',
 '(Jerard': 'Jerrard)',
 '(Chadly': 'Chedly)',
 '(Montacer': 'Montasser)',
 '(Badiaa': 'Badia)',
 '(Abdelhak': 'Abdelhak)',
 '(Rue': 'Rue)',
 '(Shams': 'Shams)',
 '(Khelifa': 'Khalifa)',
 '(Makki': 'Makki)',
 '(Abdelmoumen': 'Abdelmohsen)',
 '(Nejeh': 'Nejeh)',
 '(Zine': 'Zineta)',
 '(Vander': 'Xander)',
 '(Skandar': 'Sikandar)',
 "(M'zoughi": "M'zoughi)",
 '(Mouldi': 'Mouldi)',
 '(Nejiba': 'Nejiba)',
 '(Raoudha': 'Radha)',
 '(Abdessattar': 'Abdessattar)',
 '(Moheddine': 'Moheddine)',
 '(Sadreddine': 'Sandrine)',
 '(Gaiffier': 'Gaiffier)',
 '(Hebert': 'Herbert)',
 '(Abdeljalil': 'Abdeljalil)',
 '(Abderrahman': 'Abdurrahman)',
 '(Nacef': 'Nacef)',
 '(Haykal': 'Haikal)',
 '(Abderrahmane': 'Abdurrahman)',
 '(Kabla': 'Kabla)',
 '(Hmaid': 'Hmaid)',
 '(Achref': 'Achref)',
 '(Abdelmagid': 'Abdelmagid)',
 '(Fekri': 'Fekri)',
 '(Fakhreddine': 'Fakhreddine)',
 '(Dalenda': 'Dalenda)',
 '(Othmane': 'Uthman)',
 '(Faycel': 'Faycel)',
 '(Iyadh': 'Iyadh)',
 '(Ratiba': 'Ratib)',
 '(Oumayma': 'Jumaymah)',
 '(Hamdane': 'Hamdane)',
 '(Sarti': 'Sati)',
 '(Jemaa': 'Jemaa)',
 '(Nadhem': 'Nadhem)',
 '(Tayssir': 'Taysir)',
 '(Sebastiaos': 'Sebastiano)',
 '(Dalinda': 'Dalenda)',
 '(Jean-philippe': 'Jean-philippe)',
 '(Lenoir': 'Lenora)',
 '(Hend': 'Henda)',
 '(Wardi': 'Wadi)',
 '(Lucianio': 'Lucianio)',
 '(Hedia': 'Henda)',
 '(Giraud': 'Giraud)',
 '(Mozher': 'Mozher)',
 '(Nasr': 'Nasr)',
 '(Francois': 'Francois)',
 '(Sebestin': 'Sebastian)',
 '(Zeyed': 'Zeyad)',
 '(Amjed': 'Amjad)',
 '(Moucir': 'Moucir)',
 '(Toumi': 'Tomi)',
 '(Asawer': 'Asawer)',
 '(Fatheddine': 'Fatheddine)',
 '(Marouene': 'Marouene)',
 '(Melillo': 'Melillo)',
 '(Neji': 'Nejia)',
 '(Niazi': 'Nazia)',
 '(Zahreddine': 'Fakhreddine)',
 '(Bechr': 'Bechr)',
 '(Benoit': 'Benoit)',
 '(Chadlia': 'Chedlia)',
 '(Joaquin': 'Joaquin)',
 '(Nesria': 'Nesria)',
 '(Lobna': 'Lubna)',
 "(H'mida": "H'mida)",
 '(Guiseppe': 'Giuseppe)',
 '(Abdessatar': 'Abdessattar)',
 '(Winnen': 'Finnen)',
 '(Sammari': 'Sammar)',
 '(Abdelamjid': 'Abdelamjid)',
 '(Rawdha': 'Rawdha)',
 '(Marlillu': 'Marlillu)',
 '(Herve': 'Herve)',
 '(Bader': 'Balder)',
 '(Jean-michel': 'Jean-michel)',
 '(Chaouki': 'Chaouki)',
 '(Jao': 'Jago)',
 '(Abdeljabbar': 'Abdeljabbar)',
 '(Farhat': 'Farhat)',
 '(Bacem': 'Bacem)',
 '(Lucciano': 'Luciano)',
 '(Franchesco': 'Francesco)',
 '(Wided': 'Widad)',
 '(Mosbah': 'Mosbah)',
 '(Yessine': 'Bessie)',
 '(Jedidi': 'Jedidi)',
 '(Frenchisco': 'Frenchisco)',
 '(Mouhib': 'Mouhib)',
 '(Volter': 'Valter)',
 '(Ouannes': 'Hannes)',
 '(Nawar': 'Nawar)',
 '(Mounaouar': 'Mounaouar)',
 '(Segnere': 'Sender)',
 '(Haythem': 'Haytham)',
 '(Fariha': 'Fariha)',
 '(Maure': 'Maure)',
 '(Nourddine': 'Noureddine)',
 '(Assouan': 'Assouan)',
 '(Abderradhi': 'Abderradhi)',
 '(Dhya': 'Dhya)',
 '(Dessart': 'Dessart)',
 '(Lucciana': 'Luciana)',
 '(Monem': 'Mneme)',
 '(Abdelbasset': 'Abdelbasset)',
 '(Haj': 'Haj)',
 '(Abdelrahmen': 'Abderahmen)',
 '(Safouane': 'Safun)',
 '(Abdelhafidh': 'Abdelhafidh)',
 '(Sinda': 'Saida)',
 '(Charfeddine': 'Charfeddine)',
 '(Abdelghani': 'Abdelghani)',
 '(Gleya': 'Gleya)',
 '(Nejia': 'Nejia)',
 '(Lanfianco': 'Lanfianco)',
 '(Abdelkarim': 'Abdelkrim)',
 '(Wadie': 'Wadi)',
 '(Abelghaffar': 'Abelghaffar)',
 '(Abderahmen': 'Abderahmen)',
 '(Chedlia': 'Chedlia)',
 '(Abdelmlak': 'Abdelmlak)',
 '(Ramla': 'Ramla)',
 '(Batita': 'Batita)',
 '(Noomen': 'Noomen)',
 '(Maurizo': 'Maurizio)',
 '(Boulbaba': 'Boulbaba)',
 '(Rabeh': 'Rabah)',
 '(Guenther': 'Gunther)',
 '(Adelen': 'Adelen)',
 '(Radhouan': 'Radovan)',
 '(Talel': 'Talal)',
 '(Azzet': 'Azzet)',
 '(Lasmar': 'Lasmar)',
 '(Essayed': 'Essayed)',
 '(Dhiaeddine': 'Dhiaeddine)',
 '(Jessen': 'Jesse)',
 '(Fradj': 'Fradj)',
 '(Khalifa': 'Khalifa)',
 '(Geogio': 'Georgios)',
 '(Giananglo': 'Giananglo)',
 '(Fala': 'Falak)',
 '(Mouria': 'Mouria)',
 '(Slah': 'Salah)',
 '(Wassila': 'Wasilah)',
 '(Selvatore': 'Salvatore)',
 '(Soufien': 'Sofie)',
 '(Naoures': 'Naoures)',
 '(Hafsia': 'Hafsia)',
 '(Bessem': 'Bassem)',
 '(Ikbel': 'Ikbel)',
 '(Abdelhedi': 'Abdelhedi)',
 '(Amormegudmini': 'Amormegudmini)',
 '(Friisbol': 'Friisbol)',
 '(Abdelghaffar': 'Abdelghaffar)',
 '(Osanne': 'Osanne)',
 '(Fetiha': 'Fetiha)',
 '(Alessendro': 'Alessandro)',
 '(Adeljbera': 'Adeljbera)',
 '(Jean-marie': 'Jean-marie)',
 '(Badis': 'Badis)',
 '(Alesandra': 'Aleksandra)',
 '(Thamer': 'Thamer)',
 '(Warda': 'Warda)',
 '(Ichrak': 'Ichrak)',
 '(Jawher': 'Jawhar)',
 '(Amen': 'Amen)',
 '(Tarak': 'Tara)',
 '(Camella': 'Camellia)',
 '(Racem': 'Bacem)',
 '(Gisele': 'Gisele)',
 '(Baptista': 'Baptista)',
 '(Nawel': 'Nawel)',
 '(Belahssen': 'Belahssen)',
 '(Bullmer': 'Bullmer)',
 '(Sourour': 'Surur)',
 '(Serafetin': 'Serafina)',
 '(Khedija': 'Khedija)',
 '(Sleh': 'Saleh)',
 '(Maaouia': 'Maaouia)',
 '(Chohdi': 'Chohdi)',
 '(Adlane': 'Adla)',
 '(Chahrazed': 'Chahrazed)',
 '(Jawaher': 'Jawahir)',
 '(Ahdrea': 'Ahdrea)',
 '(Tardy': 'Hardy)',
 '(Abdelmoneem': 'Abdelmoneem)',
 '(Livini': 'Lavinia)',
 '(Menegolo': 'Menegolo)',
 '(Kosenko': 'Kosenko)',
 '(Abdesslem': 'Abdessalem)',
 '(Abdelfattef': 'Abdelfattef)',
 '(Contino': 'Contino)',
 '(Rochdi': 'Roch)',
 '(Mohames': 'Mohames)',
 '(Mootez': 'Mootez)',
 '(Rahli': 'Rahiq)',
 '(Nourdine': 'Noureddine)',
 '(Manaa': 'Manaa)',
 '(Kadhem': 'Kadhem)',
 '(Chiheb': 'Chiheb)',
 '(Abdelwahed': 'Abdelwaheb)',
 '(Noomane': 'Noomane)',
 '(Ghoouat': 'Ghoouat)',
 '(Melaouah': 'Melaouah)',
 '(Hmimed': 'Hmimed)',
 '(Hsan': 'Hsan)',
 '(Kawther': 'Kawthar)',
 '(Bakhta': 'Bakhta)',
 '(Hassani': 'Hassan)',
 '(Jaloul': 'Jalloul)',
 '(Siraj': 'Siraj)',
 '(Nourredine': 'Noureddine)',
 '(Molka': 'Malka)',
 '(Badii': 'Badi)',
 '(Kheireddine': 'Khaireddine)',
 '(Sarhane': 'Sahbane)',
 '(Miled': 'Mildred)',
 '(Fahem': 'Faheem)',
 '(Cherbib': 'Cheri)',
 '(Marwen': 'Marwen)',
 '(Jasser': 'Nasser)'}

In [65]:
names['firstname'] = names['firstname'].replace(name_dict)

In [66]:
df_new = pd.merge(df_unknown, names, how='left', on='firstname')

In [71]:
df_new['gender'].value_counts()

m      521
f      120
?       21
f,m      1
Name: gender, dtype: Int64

## Part 5:
#### Merge and export files  
Using Excel to avoid spacing issues

In [72]:
frames = [df_new, contacts]

df_names = pd.concat(frames)
df_names.head()

,firmname,name,email,firstname,lastname,origin,gender2,gender,gender1
0,actia,Yemen Zegneni,yemen.zegneni@actia.engineering.tn,Yemen,zegneni,pema,NaN,<NA>,NaN
1,admedera,Hidri,Wael.hidri@admedera.com.tn,Hidri,<NA>,pema,NaN,<NA>,NaN
2,advans pharma,Abderrazk FEKI,abderrazek.feki@advanspharma.com,Abderrazk,Feki,pema,NaN,<NA>,NaN
3,adwya,foued maknassy,fmaknassy@adwya.com.tn,Foued,Maknassy,pema,NaN,m,NaN
4,aetech,Zoubeir Chaieb,z.chaieb@aetech-solutions.com,Zoubeir,Chaieb,pema,NaN,<NA>,NaN

In [73]:
# Export to Excel

df_names.to_excel(os.path.join(gdrive_path,'intermediate','giz_contact_list.xlsx'))